{% include "yalladevelop/header.html" %}

<h1>Browse Companies: </h1>

{% for c in users %}
    <a href="/profile/{{c.user.id}}"><i class="fa fa-suitcase"></i> {{ c.name }}</a><br />
{% endfor %}

<ul class="pagination">
	{% if users.has_previous %}
		<li><a href="?page={{ users.previous_page_number }}">«</a></li>
	{% else %}
		<li class="disabled"><a href="#">«</a></li>
	{% endif %}
	{% for i in paginator.page_range %}
		{% if forloop.counter == users.number %}
			<li class="active"><a href="/allcompanies/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
		{% else %}
			<li><a href="/allcompanies/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
		{% endif %}
	{% endfor %}
	{% if users.has_next %}
		<li><a href="?page={{ users.next_page_number }}">»</a></li>
	{% else %}
		<li class="disabled"><a href="#">»</a></li>
	{% endif %}	
</ul>

{% include "yalladevelop/footer.html" %}