{% include "yalladevelop/header.html" %}

<h1>All Projects Page</h1>

{% for project in projects %}
    <a href="/project/{{project.id}}">{{ project.name }}</a><br />
{% endfor %}

<ul class="pagination">
	{% if projects.has_previous %}
		<li><a href="?page={{ projects.previous_page_number }}">«</a></li>
	{% else %}
		<li class="disabled"><a href="#">«</a></li>
	{% endif %}
	{% for i in paginator.page_range %}
		{% if forloop.counter == projects.number %}
			<li class="active"><a href="/allprojects/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
		{% else %}
			<li><a href="/allprojects/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
		{% endif %}
	{% endfor %}
	{% if projects.has_next %}
		<li><a href="?page={{ projects.next_page_number }}">»</a></li>
	{% else %}
		<li class="disabled"><a href="#">»</a></li>
	{% endif %}	
</ul>

{% include "yalladevelop/footer.html" %}
