{% include "yalladevelop/header.html" %}

<h1>Explore: </h1>

{% for project in projects %}
    <a href="/project/{{project.id}}">{{ project.name }}</a><br />
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if projects.has_previous %}
            <a href="?page={{ projects.previous_page_number }}">Previous</a> |
        {% endif %}

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}
        </span>

        {% if projects.has_next %}
            | <a href="?page={{ projects.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

{% include "yalladevelop/footer.html" %}
