{% include "yalladevelop/header.html" %}

<h4> What is YallaDevelop? </h4>
<p>YallaDevelop is a hub for innovators and creative people to meet and share their ideas with the world. We  utilize the best talents, expertise and also collect funds to financially support the launch of these projects. This will unleash the hidden talents and ideas the MENA individuals has stored in their minds only due to financial or experiential limitations. 
</p>

<h4> Who is our target audience? </h4>
<p>We are expecting most of our users and stakeholders to be high schoolers who are tech savy with interest in technology and applications development. Another group we are expecting to utilize our website are young Information Systems undergraduates and professionals who are looking to fund their innovative projects.</p>

<h4> How does it work? </h4>
<p> An indiviual can join as a regular user. He would be able to donate skills and/or provide funding to support a project idea. To be able to be become project owners they have to subscribe to monthly subscription plans. Project owners can post their ideas on the website seeking donations from the donors. Companies, can create an account under "Create company page". They are only able to donate money to projects.

<h4> Can i donate money without becoming a member? </h4>
<p> Yes, Anyone can donate money irrespective if they are members of the website or not. </p>

<h4> If i am a company or regular user , what incentives can i get from this? </h4>
<p>If you are a company, you can have a chance to appear in the "Top companies that funded projects " whereas if you are a skills donator or a project owner, you have a chance to appear in "Top developers" or "Top Project owners"</p>

<h4> How will you support my project ? </h4>
<p>Since we are a platform for creative ideas and projects to flourish, we take care of all marketing, sponsorship and donation of the project. For marketing, We will advertise hot projects through popular media.  </p>

</p>

{% include "yalladevelop/footer.html" %}