{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Yalla Develop: {{ page_name }}</title>
	
	<link href="{% static "flatui/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "flatui/css/flat-ui.css" %}" rel="stylesheet">
	<link href="{% static "yalladevelop/css/style.css" %}" rel="stylesheet">
	<script src="{% static "yalladevelop/js/script.js" %}"></script>
	
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	
</head>
<body>
<div class="container">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/allprojects/">Browse Projects</a></li>
		<li><a href="/allusers/">Browse Users</a></li>
		<li><a href="/search_skills/">Search Users By Skills</a></li>
		<li><a href="/allcompanies/">Browse Companies</a></li>
		<li><a href="/explore/">Explore</a></li>
		<li><a href="/rankings/">Rankings</a></li>

	
		{% if logged_in %}
			<li><a href="/profile/{{user.id}}">My Profile</a></li>
			<li><a href="/track/">Track Projects</a></li>
			{% if not is_company %}
				<li><a href="/addproject/">Add Project</a></li>
			{% endif %}
			<li><a href="/logout/">Log Out</a></li>
		{% else %}
			<li><a href="/login/">Log In</a></li>
			<li><a href="/userorcompany/">Sign Up</a></li>
		{% endif %}
			
			<li><a href="/contact">Contact</a></li>
			<li>
			{% if logged_in %}
				<h6> Logged in as: {{ user }}  -- <a href='/logout'>Logout?</a></h6>
			{% else %}
				{% include 'yalladevelop/login.html' %}
			{% endif %}
			</li>
	</ul>