{% include "yalladevelop/header.html" %}

<h1>Profile: </h1>
{% if my_profile %}
<h4><a href="/profile_settings">[Edit Profile]</a><br/></h4>
{% endif %}

<h4><a href="/track/">[Track Projects]</a></h4>


<h4>
Name: {{ userProfile.name }} <br />
User: {{ userProfile.user }} <br />
Email: {{ userAccount.email }} <br />
Is Staff?: {{ userAccount.is_staff }} <br />
Is Premium?: {{ userProfile.is_premium }} <br />
Is Company?: {{ userProfile.is_company }} <br />
Skills: {{ skills }} <br />
Points: {{ userProfile.points }}</br>

</h4>


{% include "yalladevelop/footer.html" %}