{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>YallaDevelop!: Project Page</title>
</head>
<body>

<h2> Profile: {{ project }} </h2>
	
<h4>

First: {{ userAccount.first }} <br />
Last: {{ userAccount.last }} <br />
Email: {{ userAccount.email }} <br />
is_staff: {{ userAccount.is_staff }} <br />
is_active: {{ userProfile.is_active }} <br />
is_premium: {{ userProfile.is_premium }} <br />
is_company: {{ userProfile.is_company }} <br />
skills: {{ skills }} <br />
user: {{ userProfile.user }} <br />
name: {{ userProfile.name }} <br />

</h4>

</body>
</html>