{% load staticfiles %}

{% include "yalladevelop/header.html" %}

<h2> Project Name: {{ project }} </h2>
{% if my_project %}
	<h4><a href="edit">[ Edit Project ]</a></h4>
{% endif %}
<h3> Owned By: {{ owner }} <h3>
<h3> Target Money: ${{ project.target_money }} <h3>
<h3> Money Collected: ${{ project.money_collected }} <h3>
<h3> Likes: {{ project.likes }} <h3>
<h3> Developers: {{ project.helpers.count }} | {{ helpers }} <h3>
<h3> Funders: ({{ project.funders.count }}) | {{ funders }}<h3>
<div>Progress: {{progress}}% Completed</div><br/>

<div class="progress progress-striped active">
	<div class="progress-bar" style="width: {{progress}}%;"></div>
</div>

{% if logged_in and not liked %}
	<a class="btn btn-danger" href="/project/{{project.id}}/likeProject">I like This!</a>
{% else %}
	<button disabled class="btn btn-danger">Already Liked</button>
{% endif %}


{% if complete %}
	<input type="button" disabled class="btn btn-info" value="Can't help (Project is Complete)">
	<input type="button" disabled class="btn btn-success" value="Can't Donate (Project is Complete)">
{% else %}
	{% if not is_company %}
		{% if logged_in and not helped %}
			<a class="btn btn-info" href="/project/{{project.id}}/helpProject">I Can Help!</a>
		{% elif logged_in and helped %}
			<a class="btn btn-warning" onClick="confirm('Are you sure you want to be removed from the developers list?')" href="/project/{{project.id}}/helpProject">I Don't Wanna Help!</a>
		{% endif %}
	{% endif %}
	<a class="btn btn-success" href="/project/{{project.id}}/donate">I Will Donate!</a>
{% endif %}

<br/>
<br/>


{% include "yalladevelop/footer.html" %}