{% load staticfiles %}

{% include "yalladevelop/header.html" %}

<h2> Project Name: {{ project }} </h2>
<h3> Owned By: {{ owner }} <h3>
<h3> Proposed Budget: $ {{ project.target_money }} <h3>
<h3> Actual Budget: ${{ project.money_collected }} <h3>
	
<div id="commentBox">
	<h5>Your feedback is appreciated: </h5>	
	
	<div>
		<label for='name'>Name:</label><input id="name"></input>
	</div>
	
	<div>
		<label for='content'>Your comment</label><textarea rows="10" cols="50" id="comment"></textarea>
	</div>
	
	<div id="post_comment">
		<a href="#" onclick="postComment(); return false;">Post Comment</a>
	</div>
</div>

{% include "yalladevelop/footer.html" %}