{% load staticfiles %}

{% include "yalladevelop/header.html" %}

<h2> Project Name: {{ project }} </h2>
<h3> Owned By: {{ owner }} <h3>
<h3> Target Money: ${{ project.target_money }} <h3>
<h3> Money Collected: ${{ project.money_collected }} <h3>
<h3> Likes: {{ project.likes }} <h3>
<h3> Developers: {{ project.helpers.count }} | {{ helpers }} <h3>
<h3> Funders: ({{ project.funders.count }}) | {{ funders }}<h3>
	

<div>Progress: {{progress}}% Completed</div><br/>

<div class="progress">
	<div class="progress-bar" style="width: {{progress}}%;"></div>
</div>

{% if logged_in and not liked %}
	<a href="/project/{{project.id}}/likeProject">I like This</a>
	<button class="btn btn-danger">I Like This!</button>
{% else %}
	<button class="btn btn-default">Already Liked</button>
{% endif %}



{% if logged_in and not helped %}
	<a href="/project/{{project.id}}/helpProject">I Can Help!</a>
{% else %}
	<a href="/project/{{project.id}}/helpProject">I Don't Wanna Help!</a>
	<button class="btn btn-default">Already Helping</button>
{% endif %}

<button class="btn btn-success">I Will Donate!</button>

<br/><br/>


{% include "yalladevelop/footer.html" %}