{% include "yalladevelop/header.html" %}

<h6>Header </h6>

<li> Sign up/in OR profile/Logout </li> #working links?

<h6>For Members </h6>

<li>  Add project <a href='/logout'>Logout?</a> </li>

<li>  List of projects <a href='/logout'>Logout?</a> </li>

<li>  Settings (password, username…) </li>

<li>  privacy <a href='/logout'>Logout?</a> </li>

<li>  List of supported (completely funded) projects <a href='/logout'>Logout?</a></li>

<h6>For Companies </h6>

<li>  List of supported projects <a href='/logout'>Logout?</a></li>

<li>  Rank in the region <a href='/logout'>Logout?</a> </li>

<li>  Favourite projects <a href='/logout'>Logout?</a> </li>

<li>  Report a problem <a href='/logout'>Logout?</a> </li>

<li>  Setting <a href='/logout'>Logout?</a> </li>

<li> <a href='/faq'>FAQ</a></li>

<h6>Home </h6>

<li>  Hot projects </li>

<li>  Ranking </li>

<li>  Meet other members </li>

<li>  Featured projects </li>

<h6>About </h6>

<li> <a href='/About'>Founders and Yalla Develop</a></li>

<h6><a href='/explore'>Explore</a> </h6>

<h6><a href='/contact'>Contact us</a> </h6>
<h6><a href='/help'>Help</a> </h6>

Footer 

<li>  <a href='/privacy'>Privacy</a>  </li>

<li> <a href='/terms'>Terms and Conditions</a>  </li>

<li>  Social media </li>

<li> <a href='/sitemap'>Site map</a>  </li>
	
{% include "yalladevelop/footer.html" %}